<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body class="bg-light">

    <div class="eq-login d-flex align-content-center flex-wrap">
        <div class="container d-flex align-items-center flex-column vh-100">
            <div class="login-logo py-5 text-center">
                <a href="index.html">
                    <img class="align-content" width="200" src="./assets/images/logo.png" alt="">
                </a>
            </div>
            <div class="login-content card border-0 shadow-lg w-100 py-5 px-4">
                <div class="row">
                    <div class="col-sm-12 col-lg-6 offset-lg-3 py-5">
                        <div class="login-form-group">
                            <div class="input-group mb-3">
                                <label for="userName" class="sr-only">User Name</label>
                                <div class="input-group-prepend border-right border-white">
                                    <span class="input-group-text border-0 text-white" id="basic-addon1">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                            xml:space="preserve" width="28px" height="28px">
                                            <path d="M256,0C114.844,0,0,114.844,0,256s114.844,256,256,256s256-114.844,256-256S397.156,0,256,0z M256,74.667    c67.635,0,122.667,55.031,122.667,122.667S323.635,320,256,320s-122.667-55.031-122.667-122.667S188.365,74.667,256,74.667z     M256,469.333c-69.707,0-131.52-33.755-170.473-85.615c42.676-20.534,103.621-42.385,170.473-42.385    c66.857,0,127.807,21.854,170.474,42.383C387.521,435.577,325.708,469.333,256,469.333z"
                                                fill="#FFFFFF" />
                                        </svg>
                                    </span>
                                </div>
                                <input type="email" class="form-control border-0" name="user_name" id="userName"
                                    aria-describedby="emailHelpId" placeholder="User Name">
                            </div>
                            <div class="input-group mb-3">
                                <label for="userName" class="sr-only">Password Name</label>
                                <div class="input-group-prepend border-right border-white">
                                    <span class="input-group-text border-0 text-white" id="basic-addon1">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                            xml:space="preserve" width="26px" height="26px">
                                            <path d="M437.333,192h-32v-42.667C405.333,66.99,338.344,0,256,0S106.667,66.99,106.667,149.333V192h-32    C68.771,192,64,196.771,64,202.667v266.667C64,492.865,83.135,512,106.667,512h298.667C428.865,512,448,492.865,448,469.333    V202.667C448,196.771,443.229,192,437.333,192z M287.938,414.823c0.333,3.01-0.635,6.031-2.656,8.292    c-2.021,2.26-4.917,3.552-7.948,3.552h-42.667c-3.031,0-5.927-1.292-7.948-3.552c-2.021-2.26-2.99-5.281-2.656-8.292l6.729-60.51    c-10.927-7.948-17.458-20.521-17.458-34.313c0-23.531,19.135-42.667,42.667-42.667s42.667,19.135,42.667,42.667    c0,13.792-6.531,26.365-17.458,34.313L287.938,414.823z M341.333,192H170.667v-42.667C170.667,102.281,208.948,64,256,64    s85.333,38.281,85.333,85.333V192z"
                                                fill="#FFFFFF" />
                                        </svg>
                                    </span>
                                </div>
                                <input type="email" class="form-control border-0" name="password" id="password"
                                    aria-describedby="emailHelpId" placeholder="Password">
                            </div>

                            <p class="mb-0 text-right"><a class="form-text text-secondary" href="#">Forgot Password ?</a></p>

                            <div class="form-group text-center mt-5 mb-0">
                                <a href="agencies.html" role="button" class="btn btn-secondary btn-lg">Log In</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>