<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body class="bg-light">
    <div class="d-flex w-100">
        <aside class="asid-menu">
            <div class="brand-logo bg-secondary text-center py-4">
                <img class="mt-2" src="./assets/images/white_logo.png" alt="eQuidPro Logo">
            </div>
            <div class="bg-white shadow min-vh-100">
                <ul class="list-group">
                    <li class="list-group-item text-center p-0 active">
                        <a class="d-block py-4 text-decoration-none" href="agencies.html">
                            <img src="./assets/images/dashboard.png" alt="Dashboard">
                            <label class="menu-item-text text-dark d-block mb-0 mt-2">Dashboard</label>
                        </a>
                    </li>
                    <li class="list-group-item text-center p-0">
                        <a class="d-block py-4 text-decoration-none" href="agencies.html">
                            <img src="./assets/images/factory.png" alt="Dashboard">
                            <label class="menu-item-text text-dark d-block mb-0 mt-2">Agencies</label>
                        </a>
                    </li>
                    <li class="list-group-item text-center p-0">
                        <a class="d-block py-4 text-decoration-none" href="employers.html">
                            <img src="./assets/images/employers.png" alt="Dashboard">
                            <label class="menu-item-text text-dark d-block mb-0 mt-2">Employers</label>
                        </a>
                    </li>
                    <li class="list-group-item text-center p-0">
                        <a class="d-block py-4 text-decoration-none" href="registration.html">
                            <img src="./assets/images/website.png" alt="Dashboard">
                            <label class="menu-item-text text-dark d-block mb-0 mt-2">Registration</label>
                        </a>
                    </li>
                    <li class="list-group-item text-center p-0">
                        <a class="d-block py-4 text-decoration-none" href="#">
                            <img src="./assets/images/settings.png" alt="Dashboard">
                            <label class="menu-item-text text-dark d-block mb-0 mt-2">Settings</label>
                        </a>
                    </li>
                    <li class="list-group-item text-center p-0">
                        <a class="d-block py-4 text-decoration-none" href="#">
                            <img src="./assets/images/newspaper.png" alt="Dashboard">
                            <label class="menu-item-text text-dark d-block mb-0 mt-2">Reports</label>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="left-container flex-fill">
            <header class="dashboard-header">
                <nav class="bg-secondary navbar-dark py-3">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col">
                                <button class="navbar-toggler border-0" type="button">
                                    <img width="40" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAQAAAAAYLlVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjARINMC0JNYz9AAABDklEQVRo3u3ZPU4CURTF8f990qhDYWJl3IBaOrACFmGjS7ChpKfSBLdgRFdAo6XyJfSE2k4LCdFphFwLCnYwp7m/DZx7ZuYlL3cgBDEDP+WWcyolJ6+Y0rSZ+RkTdkX1C2rmLzRE8QDP5oWsP0CR+BXGw0+iKx2gi2c+cJW+ZwZe4ZJccAzfebC19PmHEEIIATbX8gNa1NkrOblgTNu+zY8Ycyyq/0Hd/IkLUTzAo/mSqnCAZRKGA3iiJx2gp/8IhcdwRNsWouohhBBC2Nqs6a7I2Sk5ecWUe1vjVR/KFpUDz8zvuBa+gY75F4fCAT4T+8J4yBJv0gFe1b9scgM/4YZa6dvyPyY0bS6qHsLWP+TRPOwjGVugAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTAxLTE4VDEyOjQ4OjQ1KzAxOjAwx9boKAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wMS0xOFQxMjo0ODo0NSswMTowMLaLUJQAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC"
                                        alt="Menu icon">
                                </button>
                            </div>
                            <div class="col-8 text-center">
                                <div class="page-title">
                                    <h1 class="text-uppercase text-white">Wegile Pvt Ltd</h1>
                                </div>
                            </div>
                            <div class="col text-right">
                                <div class="profile-image dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <img src="./assets/images/profile.png" class="rounded-circle" alt="Photo of Profile pic" />
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">My Account</a>
                                    <a class="dropdown-item" href="#">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="content-aria p-5">
                <div class="card shadow border-0 bg-white">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0 text-center">
                            <thead>
                                <tr>
                                    <th class="text-secondary" scope="col">Name</th>
                                    <th class="text-secondary" scope="col">Email ID</th>
                                    <th class="text-secondary" scope="col">Assigned Location</th>
                                    <th class="text-secondary" scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>James Caler</td>
                                    <td>dummy@gmail.com</td>
                                    <td>Toronto (115601)</td>
                                    <td><a href="#" class=" text-success ">Active</a></td>
                                </tr>
                                <tr>
                                    <td>James Caler</td>
                                    <td>dummy@gmail.com</td>
                                    <td>Toronto (115601)</td>
                                    <td><a href="#" class=" text-success ">Active</a></td>
                                </tr>
                                <tr>
                                    <td>James Caler</td>
                                    <td>dummy@gmail.com</td>
                                    <td>Toronto (115601)</td>
                                    <td><a href="#" class=" text-success ">Active</a></td>
                                </tr>
                                <tr>
                                    <td>James Caler</td>
                                    <td>dummy@gmail.com</td>
                                    <td>Toronto (115601)</td>
                                    <td><a href="#" class=" text-success ">Active</a></td>
                                </tr>
                                <tr>
                                    <td>James Caler</td>
                                    <td>dummy@gmail.com</td>
                                    <td>Toronto (115601)</td>
                                    <td><a href="#" class=" text-success ">Active</a></td>
                                </tr>
                                <tr>
                                    <td>James Caler</td>
                                    <td>dummy@gmail.com</td>
                                    <td>Toronto (115601)</td>
                                    <td><a href="#" class=" text-success ">Active</a></td>
                                </tr>
                                <tr>
                                    <td>James Caler</td>
                                    <td>dummy@gmail.com</td>
                                    <td>Toronto (115601)</td>
                                    <td><a href="#" class=" text-success ">Active</a></td>
                                </tr>
                                <tr>
                                    <td>James Caler</td>
                                    <td>dummy@gmail.com</td>
                                    <td>Toronto (115601)</td>
                                    <td><a href="#" class=" text-success ">Active</a></td>
                                </tr>
                                <tr>
                                    <td>James Caler</td>
                                    <td>dummy@gmail.com</td>
                                    <td>Toronto (115601)</td>
                                    <td><a href="#" class=" text-success ">Active</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>